FORMAT: 1A
HOST:  https://app.asana.com/api/1.1

# ASANA

## Project [/projects?workspace=1127028194303123]

### Project [GET]

+ Response 200 (application/json)

    + Body

            {
                "data": [
                    {
                        "gid": "1200195508767749",
                        "name": "Learning",
                        "resource_type": "project"
                    },
                    {
                        "gid": "1200520558756397",
                        "name": "Golang-cobra",
                        "resource_type": "project"
                    }
                ],
                "next_page": null
            }

## Project [/projects/1200195508767749/tasks?opt_fields=completed,name,assignee,num_subtasks]

### Project [GET]

+ Response 200 (application/json)

    + Body

            {
                "data": [
                    {
                        "gid": "1200616651608041",
                        "assignee": {
                            "gid": "1127028096108896",
                            "resource_type": "user"
                        },
                        "completed": false,
                        "name": "quicktype-vscode",
                        "num_subtasks": 0
                    },
                    {
                        "gid": "1200195560177014",
                        "assignee": {
                            "gid": "1127028096108896",
                            "resource_type": "user"
                        },
                        "completed": false,
                        "name": "เรียบเรียงว่าจะเขียนอะไรบ้าง",
                        "num_subtasks": 2
                    }
                ]
            }

## Task [/tasks/{taskId}]

### [PUT]

+ Request (application/json)

    + Body

        {
            "data": {
                "assignee": "1127028096108896"
            }
        }

+ Response 200 (application/json)

    + Body

        {
            "data": {
                "gid": "1200553481706620",
                "projects": [
                    {
                        "gid": "1200195508767749",
                        "resource_type": "project",
                        "name": "Learning"
                    }
                ],
                "resource_type": "task",
                "created_at": "2021-07-03T13:47:48.408Z",
                "modified_at": "2021-07-03T15:05:09.808Z",
                "name": "update task asana https://developers.asana.com/docs/update-a-task",
                "notes": "",
                "completed": false,
                "completed_at": null,
                "due_on": null,
                "due_at": null,
                "resource_subtype": "default_task",
                "start_on": null,
                "tags": [],
                "workspace": {
                    "gid": "1127028194303123",
                    "resource_type": "workspace",
                    "name": "My Company"
                },
                "num_hearts": 0,
                "num_likes": 0,
                "permalink_url": "https://app.asana.com/0/1200195508767749/1200553481706620",
                "assignee": {
                    "gid": "1127028096108896",
                    "resource_type": "user",
                    "name": "Panachai"
                },
                "parent": null,
                "assignee_status": "inbox",
                "hearted": false,
                "hearts": [],
                "liked": false,
                "likes": [],
                "followers": [
                    {
                        "gid": "1127028096108896",
                        "resource_type": "user",
                        "name": "Panachai"
                    }
                ],
                "memberships": [
                    {
                        "project": {
                            "gid": "1200195508767749",
                            "resource_type": "project",
                            "name": "Learning"
                        },
                        "section": {
                            "gid": "1200195508767750",
                            "resource_type": "section",
                            "name": "Untitled section"
                        }
                    }
                ]
            }
        }
