FORMAT: 1A
HOST:  https://app.asana.com/api/1.1

# ASANA

## Project [/projects?workspace=1127028194303123]

### Project [GET]

+ Response 200 (application/json)

    + Body

            {
                "data": [
                    {
                        "gid": "1200195508767749",
                        "name": "Learning",
                        "resource_type": "project"
                    },
                    {
                        "gid": "1200520558756397",
                        "name": "Golang-cobra",
                        "resource_type": "project"
                    }
                ],
                "next_page": null
            }

## Project [/projects/1200195508767749/tasks?opt_fields=completed,name,assignee,num_subtasks]

### Project [GET]

+ Response 200 (application/json)

    + Body

            {
                "data": [
                    {
                        "gid": "1200616651608041",
                        "assignee": {
                            "gid": "1127028096108896",
                            "resource_type": "user"
                        },
                        "completed": false,
                        "name": "quicktype-vscode",
                        "num_subtasks": 0
                    },
                    {
                        "gid": "1200195560177014",
                        "assignee": {
                            "gid": "1127028096108896",
                            "resource_type": "user"
                        },
                        "completed": false,
                        "name": "เรียบเรียงว่าจะเขียนอะไรบ้าง",
                        "num_subtasks": 2
                    }
                ]
            }
